check-messages:
  image: node:lts-alpine
  script:
    - node scripts/check-messages.js
  rules:
    - changes:
        - messages/*.json

find-unused-messages:
  image: node:lts-alpine
  script:
    - node scripts/find-unused-messages.js
  rules:
    - changes:
        - messages/*.json
        - src/**/*.{svelte,ts,js}
        - scripts/find-unused-messages.js

lint:
  image: oven/bun:alpine
  script:
    - bun install --frozen-lockfile
    - bun run lint
