check-messages:
  image: node:lts-alpine
  script:
    - node scripts/check-messages.js
  rules:
    - changes:
        - messages/*.json

find-unused-messages:
  image: node:lts-alpine
  script:
    - node scripts/find-unused-messages.js
  rules:
    - changes:
        - messages/*.json
        - src/**/*.{svelte,ts,js}
        - scripts/find-unused-messages.js

find-untranslated:
  image: oven/bun:alpine
  script:
    - bun install --frozen-lockfile
    - bun scripts/find-untranslated.js
  rules:
    - changes:
        - messages/en.json
        - src/**/*.svelte
        - scripts/find-untranslated.js

lint:
  image: oven/bun:alpine
  script:
    - bun install --frozen-lockfile
    - bun run lint
  rules:
    - changes:
        - src/**/*.{svelte,ts,js}
        - bun.lock
